
/* not used anymore
only for preview purposes ================================================================
https://css-tricks.com/more-control-over-css-borders-with-background-image/
 
    background-image: url("data:image/svg+xml,%3csvg width='1%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='1%25' fill='none' stroke='grey' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); 
    display: inline-block;

    .header { border-top: var(--report-top-margin) solid white; }
    .footer { border-bottom: var(--report-bottom-margin) solid white; }
 */
@media screen {
  .header {
    background-color: white;
    margin-top: 0;
    z-index: 1000;
  }
  .footer {
    background-color: white; 
    margin-bottom: 0;
    z-index: 1000;
  } 
}
