body {
  --ruler-num-c: #888;
  --ruler-num-fz: 10px;
  --ruler-num-pi: 0.75ch;
  --ruler-unit: 1mm;
  --ruler-x: 1;
  --ruler-y: 1;

  --ruler1-bdw: 1px;
  --ruler1-c: #bbb;
  --ruler1-h: 8px;
  --ruler1-space: 10;

  --ruler2-bdw: 1px;
  --ruler2-c: #bbb;
  --ruler2-h: 20px;
  --ruler2-space: 10;

  background-attachment: fixed;
  background-image: linear-gradient(
      90deg,
      var(--ruler1-c) 0 var(--ruler1-bdw),
      transparent 0
    ),
    linear-gradient(90deg, var(--ruler2-c) 0 var(--ruler2-bdw), transparent 0),
    linear-gradient(0deg, var(--ruler1-c) 0 var(--ruler1-bdw), transparent 0),
    linear-gradient(0deg, var(--ruler2-c) 0 var(--ruler2-bdw), transparent 0);
  background-position: 0 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: calc(
        var(--ruler-unit) * var(--ruler1-space) * var(--ruler-x)
      )
      var(--ruler1-h),
    calc(var(--ruler-unit) * var(--ruler2-space) * var(--ruler-x))
      var(--ruler2-h),
    var(--ruler1-h)
      calc(var(--ruler-unit) * var(--ruler1-space) * var(--ruler-y)),
    var(--ruler2-h)
      calc(var(--ruler-unit) * var(--ruler2-space) * var(--ruler-y));
}

/* Ruler Numbers */
.ruler-x,
.ruler-y {
  color: var(--ruler-num-c);
  counter-reset: d -10; /*  starting unit */
  display: flex;
  font-size: var(--ruler-num-fz);
  line-height: 1;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
}
.ruler-x {
  height: var(--ruler2-h);
  inset-block-start: 0;
  inset-inline-start: calc(var(--ruler-unit) * var(--ruler2-space));
  opacity: var(--ruler-x);
  width: 100%;
}
.ruler-y {
  flex-direction: column;
  height: 100%;
  inset-block-start: calc(var(--ruler-unit) * var(--ruler2-space));
  inset-inline-start: 0;
  opacity: var(--ruler-y);
  width: var(--ruler2-h);
}
.ruler-x li {
  align-self: flex-end;
}
.ruler-x li,
.ruler-y li {
  counter-increment: d var(--ruler2-space);
  flex: 0 0 calc(var(--ruler-unit) * var(--ruler2-space));
}
.ruler-x li::after {
  content: counter(d) "";
  line-height: 1;
  padding-inline-start: var(--ruler-num-pi);
}
.ruler-y li::after {
  content: counter(d) "";
  display: block;
  padding-inline-end: var(--ruler-num-pi);
  transform: rotate(-90deg) translateY(-13px);
  transform-origin: 100% 0%;
  text-align: end;
  width: 100%;
}

/* DEMO, EDITOR */
* {
  box-sizing: border-box;
}
body {
  font-family: ui-sans-serif, system-ui, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding-block: calc(2rem + max(var(--ruler1-h), var(--ruler2-h)));
}
.ruleEditor {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  gap: 1ch;
  margin: 0 auto;
  width: 18rem;
}
fieldset {
  flex: 1;
  padding: 1ch;
}
input,
select {
  display: block;
}
label {
  display: block;
  margin-block-end: 2ch;
}
[dir="rtl"] .ruler {
  background-position: 100% 0;
}