#reportIframe{
  position: absolute;
  top: 10mm;
  left: 10mm;
  width: calc(100% - 10mm);
  height: calc(100vh - 10mm);
  border: 1px solid black;
  margin-left: -1px;
  margin-top: -1px;
}
#stickyRow {
  position: absolute;
  top: 10mm;
  left: calc(100% - 400px);
  z-index: 999;
}
#stickyRow,
#stickyRow input {
  font-size: 8pt;
}

@media print {
  .ruler-x,
  .ruler-y,
  label,
  .ruleEditor {
    display: none;
  }

  body {
    background-image: none;
  }
}

/* printTable class is the table fix applied all over the page. So do not apply the border for that
apply only the content portion table */
.dataTable,
.dataTable th,
.dataTable td {
  border: 0.25mm solid black;
  word-break: break-word;
  border-spacing: 0px;
}
/* dont apply border collapse for datatable which creates a empty page problem if content of a cell overflows more than 2 pages */
.dataTable th,
.dataTable td {
  border-collapse: collapse;
  vertical-align: text-top;
  padding: 1mm;
}

div.card.card-body [data-schemapath^="root.Content"] > label,
div.card.card-body [data-schemapath^="root.Content"] > select 
{ display: none; }

/* json editor tweaks */
.je-ready h3 label {
    margin-right: 10px;
}
/* #paramEditorDiv > div > h3 */
.je-ready h3.card-title.level-1 {
    display: none !important;
}
.je-ready  div.card.card-body.my-3 {
    margin-top: 0!important;
}