html,
body {
  font-family: 'Times New Roman', Times, Georgia, serif;
  font-size: 12pt;
  font-weight: normal;
  /* text-align: justify; */
  
  border: 0;
  margin: 0;  /* html margin affects before sending to printer */
  padding: 0;
  border-spacing: 0px;
} 
/* Do not use fix the bottom margin by vertically align the content top 
 give at least .25 inch approx. 7 mm margin on top and bottom
 */
/* .pagedjs_margin-bottom-center {
    align-items: flex-start;   
}  */
@page  
{   
    @top-center {
        content: element(headerMiddle); 
        width:100%;
    }

    @bottom-center {
        content: element(footerMiddle); 
        width:100%;
    }
    
    @top-left {
        content: element(headerLeft); 
        width:none; min-width: none;
    }
    @top-right {
        content: element(headerRight); 
        width:none; min-width: none;
    }
    @bottom-left {
        content: element(footerLeft); 
        width:none; min-width: none;
    }
    @bottom-right {
        content: element(footerRight); 
        width:none; min-width: none;
    }
} 

@page: blank { 
    /* @top-center { content: "This page is intentionally left blank." } */
    @top-center {
        content: none;
    }
    @top-left {
        content: none;
    }
    @top-right {
        content: none;
    }

    @bottom-center {
        content: none;
    }
    @bottom-left {
        content: none;
    }
    @bottom-right {
        content: none;
    }
}



.headerMiddle{
    position: running(headerMiddle);
}
.footerMiddle{
    position: running(footerMiddle);
}
.pagedjs_margin.pagedjs_margin-top-center.hasContent {
    align-items: flex-start !important ;
}
.pagedjs_margin.pagedjs_margin-bottom-center.hasContent {
    align-items: flex-end !important ;
}

/* printTable class is the table fix applied all over the page. So do not apply the border for that
apply only the content portion table */
.content .dataTable,
.content .dataTable th,
.content .dataTable td {
  border: 0.25mm solid black;
  word-break: break-word;
  border-spacing: 0px;
}
/* dont apply border collapse for datatable which creates a empty page problem if content of a cell overflows more than 2 pages */
.content .dataTable th,
.content .dataTable td {
  border-collapse: collapse;
  vertical-align: text-top;
  padding: 1mm;
}
/* This is not required after the latest fixes from 
https://github.com/pagedjs/pagedjs/issues/154
https://github.com/pagedjs/pagedjs/pull/155/files
https://github.com/pagedjs/pagedjs/pull/158/files?diff=split&w=1 
 the overflown content entirely hides the row 
this affects only the screen not the Save As PDF option (printer)
Please set the bottom margin and page footer to at least 20 mm(0.78 inch). We discussed this already the printers expect the minimum spaces in the margins.
After setting the minimum margin at the bottom the lines are not truncated at the bottom. 
do not use @media screen {} the pagedjs removes the styles
*/
.content .dataTable tbody tr:last-child td {
    overflow-y: hidden;
}

/* remove empty rows Not working
.content .dataTable tbody tr:last-child:empty {  display: none; }
*/

/* 
 page-break-inside: avoid creates the empty page when contents of rows goes over than 2 pages
 The entire row becomes invisible as well.

 2023/09/22 
 cannot use below selectors the table is not split before applying the pagination.
    .content .dataTable tbody tr:not(:first-child),
    .content .dataTable tbody tr:not(:first-child) td 

    apply the break-inside: avoid not for the first row in the body.
    not working properly for the last row the row is disapearing.


  Repeat table headers in print mode 
    src\Resources\Scripts\notused\paged.polyfill.js line number 1949
    // honor break-inside="avoid" in parent tbody/thead
    Chrome finally supports repeated table headers for print media. This is enabled if the th has break-inside:avoid, and can be disabled with break:inside: auto. See https://codereview.chromium.org/2021703002/#ps20001
*/
/* .content .dataTable tbody tr,
.content .dataTable tbody td  {
  break-inside: avoid;
} */

/* not working workaround adjust proper header and footer height params


html, body, .content { this creates the empty page on the top issue
  overflow-x: hidden;
}

.headerMiddle
.footerMiddle
.content div
{
    overflow: hidden;
} */